modules = ["nodejs-20", "web", "nix"]
hidden = [".config", "package-lock.json"]
run = "npm run start"

[nix]
channel = "stable-23_11"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "gce"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8357
externalPort = 3000

[[ports]]
localPort = 33813
externalPort = 3003

[[ports]]
localPort = 36257
externalPort = 3002

[[ports]]
localPort = 45289
externalPort = 3001
