:root {
 /**
 * colors
 */
 /* solid */
 --jet: deepskyblue;
 --oten:#00ffff;
 --oten-2:lime; 
 --onyx: #f0f8ff;
 --eerie-black-1: hsl(240, 2%, 13%);
 --eerie-black-2: hsl(240, 2%, 12%);
 --smokey-black: #ffffff;
 --smokey-gray: #ffffff;
 --white-1: hsl(0, 0%, 100%);
 --white-2: hsl(0, 0%, 98%);
 --orange-yellow-crayola: skyblue;
 --vegas-gold: deepskyblue;
 --light-gray: #001d1f;
 --light-gray-70: hsla(0, 0%, 84%, 0.7);
 --bittersweet-shimmer: hsl(0, 43%, 51%);
 }
.container h1 {
font-size: 25px;
color: var(--light-gray);
border-radius: 5px;
margin-bottom: 20px;
}
.container label {
display: block;
margin-top: 10px;
font-size: 14px;
color: var(--light-gray);
font-size: small;
text-align: left;
}
body {
padding: 20px;
background-color: var(--oten);
font-family: 'Poppins', sans-serif;
color: var(--light-gray);
}
h1, h2, h3, h4, h5, h6 {
color: var(--light-gray);
text-align: center;
}
#prefixOfCommands input[type="text"],
#adminOfCommands input[type="text"] {
width: calc(100% - 12px);
padding: 5px;
margin: 5px 0;
border: 1px solid var(--light-gray-70);
background-color: var(--smokey-black);
color: var(--light-gray);
text-align: left;
}
button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: none;
    color: #212121;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(33, 33, 33, 0.2);
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:enabled {
    background-color: #81D4FA;
    color: #ffff;
}

button.custom-button {
    background-color: var(--orange-yellow-crayola);
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button.custom-button:hover {
    background-color: #424242;
}

button.custom-button svg {
    margin-left: 5px;
}

button:active {
    /* Try moto */
    box-shadow: 0 2px 4px rgba(33, 33, 33, 0.2);
    transform: none;
}
/*
  button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: none;
    color: #212121;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    box-shadow: #212121;
  }
  button:enabled {
    background-color: #81D4FA;
    box-shadow: #424242;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
  }*/

  footer {
    background-color: #333;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px; /* Add margin to the top */
  }
/*
  .custom-button {
    background-color: var(--orange-yellow-crayola);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .custom-button:hover {
    background-color: #424242;
  }

  .custom-button svg {
    margin-center: 5px;
  }
*/
    #json-data {
            height: 49px;
            width: 100%;
            padding: 10px;
            font-size: 11px;
            margin-top: 5px;
            color: var(--light-gray);
            border: 1px solid var(--light-gray-70);
            white-space: nowrap;
            background-color: var(--smokey-black);
            border-radius: 4px;
            box-sizing: border-box;
            overflow: scroll;
        }
  .terms-text {
    text-align: justify !import;
  }

  @media only screen and (max-width: 768px) {
    body {
        font-size: 13px;
    }
  }

  @media only screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }
  }

  #result {
    display: none;
    text-align: center;
    position: relative; 
    z-index: 3;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--light-gray);
  }
    #cookie-form {
            height: 50px;
            width: 92%;
            overflow-y: scroll;
            padding: 10px;
            font-size: 12px;
            margin-top: 10px;
            border: 1px solid var(--light-gray-70);
            white-space: nowrap;
            background-color: var(--smokey-black);
            border-radius: 4px;
    }

  audio {
    width: 100%;
    max-width: 300px; 
    margin: 0 auto; 
    border: none; 
  }

  .warning-message {
    color: #ff0000;
    padding: 10px;
    margin-bottom: 20px;
  }
  .commands-list {
    color: white;
    text-align: left; 
    display: none; 
    background-color: #424242;
    padding: 10px; 
    border-radius: 10px;
    width: fit-content; 
    margin: 0 auto; 
  }
    .footer {
      text-align: center;
      background-color: black;
      color: white;
      padding: 1px;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 12px;
    }
        <style>
          /* CSS để tạo màu cho chữ */
          .rainbow-text {
              background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
              -webkit-background-clip: text;
              color: transparent;
          }

          /* CSS Animation để tạo hiệu ứng chữ màu động */
          @keyframes rainbow {
              0% {
                  color: violet;
              }
              14% {
                  color: indigo;
              }
              28% {
                  color: blue;
              }
              42% {
                  color: green;
              }
              50% {
                  color: pink;
              }
              56% {
                  color: yellow;
              }
              60% {
                  color: lime;
              }
              70% {
                  color: orange;
              }
              84% {
                  color: red;
              }
              100% {
                  color: violet;
              }
          }

          /* Áp dụng Animation cho chữ */
          .animated-rainbow {
              animation: rainbow 4s linear infinite;
          }
      body { 
          max-width: 300px;
          margin: 0 auto;
          padding: 20px;
          text-align: center;
      }
input[type="tite"], input[type="appState"] {
            font-family: 'Poppins', sans-serif;
            width: 100%;
            padding: 10px;
            font-size: 12px;
            margin-top: 5px;
            color: var(--light-gray);
            border: 1px solid var(--light-gray-70);
            white-space: nowrap;
            background-color: var(--smokey-black);
            border-radius: 4px;
            box-sizing: border-box;
  }
   .form-item {
   padding: 8px;
   }
   h1 {
   color: #000000;
   }
   .form-item label {
   font-size: 13px;
   color: #000000;
   margin-bottom: 5px; 
   display: block; 
   }
            .container {
            font-family: 'Poppins', sans-serif;
            text-align: center;
            z-index: 1;
            border-radius: 10px;
            padding: 18px;
            border: var(--onyx);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 270px;
            margin-top: 30px;
            width: 100%;
            background-color: var(--smokey-gray);
            color: var(--light-gray);
            }
        .container input[type="submitB"] {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: var(--orange-yellow-crayola);
            font-family: 'Poppins', sans-serif;
            border: none;
            font-weight: bold;
            color: var(--onyx);
            width: 30%;
            border-radius: 4px;
            cursor: pointer;
        }
        .container input[type="submit"]:hover {
            background-color: var(--vegas-gold);
        }
        .ping-text, .time-text {
      display: inline-block;
      vertical-align: middle;
                }
        .ping-icon, .time-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ping-icon svg, .time-icon svg {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.5rem;
    }
    .ping-container {
      transition: color 0.3s ease;
    }

    .ping-good {
      color: #10b981; 
    }

    .ping-medium {
      color: #fbbf24; 
    }

    .ping-bad {
      color: #ef4444; 
    }

    .dark .ping-good {
      color: #10b981; 
    }

    .dark .ping-medium {
      color: #fbbf24; 
    }

    .dark .ping-bad {
      color: #ef4444; 
    {
        textarea {
          width: 300px; /* Set the width of the textarea */
          height: 200px; /* Set the height of the textarea */
          resize: none; /* Prevent resizing of the textarea */
          position: absolute; /* Set the position to absolute */
          top: 50px; /* Set the distance from the top */
          left: 50px; /* Set the distance from the left */
        }